.Carousel {
  background-color: #48cae4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftButton {
  background-color: #0096c7;
  margin-left: 50px;
  height: 80px;
  width: 100px;
  margin-right: auto;
}

.rightButton {
  background-color: #0096c7;
  margin-right: 50px;
  height: 80px;
  width: 100px;
  margin-left: auto;
}

.Label {
  padding: 10px;
}
.Counter {
  font-size: 30px;
}